<!-- Nav item: Make a Payment -->
<li class="main-navigation__item main-navigation__item--has-dropdown">
    <span class="main-navigation__link">Make a Payment</span>
    <span class="main-navigation__dropdown-arrow">▾</span>
    <ul class="main-navigation__dropdown">
        <li class="main-navigation__dropdown-item--has-flyout">
            <span class="main-navigation__flyout-label">Payment Options <span class="main-navigation__flyout-arrow">▸</span></span>
            <div class="main-navigation__flyout">
                <div class="flyout__content">
                    <div class="flyout__text-col">
                        <h2 class="flyout__heading">Payment Options Accepted</h2>
                        <p class="flyout__text">I accept the following payment methods for your convenience:</p>
                        <ul class="flyout__list">
                            <li class="flyout__list-item">Cash</li>
                            <li class="flyout__list-item">Check</li>
                            <li class="flyout__list-item">Zelle</li>
                            <li class="flyout__list-item">Cash App</li>
                        </ul>
                        <p class="flyout__text">A secure online payment link will be available soon.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
