<!-- ============================================================
       SECTION 01: WELCOME
        ============================================================ -->
<section id="section-welcome" class="content-section content-section--welcome">
    <div class="welcome-cyber-overlay"></div>
    <div class="content-section__label01">WELCOME</div>
    <div class="welcome__content">
        <div class="welcome__heading-row">
            <h1 class="welcome__heading">Professional IT Support & Computer Repair Services</h1>
            <div class="line_separator"></div>
        </div>
        <button class="welcome__cta-button" onclick="openAppointmentSchedulerFlyout()">
            Schedule a Service Call
        </button>
        <p class="welcome__description">
            <span class="welcome__description-dot"></span>
            GK Computer Business is a small business that provides reliable, professional, and secure IT solutions for individuals
            and small businesses.
            I specialize in troubleshooting, pc repair, custom builds, network setups, and full-service
            tech support in Naples, Florida.
        </p>
    </div>
    <img src="IMAGES/Welcome_To_GK_Computer_Business_Section.png" alt="Cybersecurity graphic"
        class="welcome__image" />
</section>